Repository aphp/edspdf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Test documentation

Running Pytest:
  stage: test
  cache:
  - key:
      files:
      - poetry.lock
    paths:
    - .venv
  before_script:
  - apt-get update
  - apt-get install -y --no-install-recommends poppler-utils
  - pip install poetry
  - poetry config virtualenvs.in-project true
  - poetry install
  script:
  ...

Installation:
  stage: test
  script:
  - pip install .

Test documentation:
  stage: test
  cache:
  - key:
      files:
      - poetry.lock
    paths:
    - .venv
  before_script:
  - pip install poetry
  - poetry config virtualenvs.in-project true
  - poetry install
  script:
  - poetry run mkdocs build --site-dir documentation
  artifacts:
    paths:
    - documentation

feat: add general train recipe
  edspdf/recipes/__init__.py
  edspdf/recipes/train.py
Due: none

docs: add mupdf extractor documentation
  docs/components/extractors/mupdf.md
Due: none

docs: remove deprecated recipes docs
  docs/recipes/annotation.md
  docs/recipes/extension.md
  docs/recipes/index.md
  docs/recipes/resources/lines.jpeg
  docs/recipes/resources/merged.jpeg
  docs/recipes/rules.md
  docs/recipes/sklearn.md
Due: none

docs: update utilities docs
  docs/utilities/alignment.md
  docs/utilities/visualisation.md
Due: none

fix: update streamlit demo app
  demo/app.py
Due: none

chore: update pyproject.toml
  pyproject.toml
Due: Installation

fix: remove deprecated aggregator module imports
  edspdf/components/aggregators/__init__.py
Due: none

tests: end to end pipeline training with the general training recipe
  tests/recipes/config.cfg
  tests/recipes/test_train.py
Due: none

docs: prune old docs
  docs/concepts.md
  docs/modules/aggregation.md
  docs/modules/classification/index.md
  docs/modules/classification/mask.md
  docs/modules/classification/sklearn.md
  docs/modules/extraction.md
  docs/modules/index.md
  docs/modules/transforms.md
Due: Test documentation

fix: install git on gitlab ci
  .gitlab-ci.yml
Due: Running Pytest

feat: add poppler based extractor
  edspdf/components/extractors/poppler/__init__.py
  edspdf/components/extractors/poppler/bindings.pyx
Due: none

feat: add mupdf based extractor
  edspdf/components/extractors/mupdf/__init__.py
Due: none

chore: removed poppler and mupdf-based extractors for licensing reasons
  edspdf/components/extractors/mupdf/__init__.py
  edspdf/components/extractors/poppler/__init__.py
  edspdf/components/extractors/poppler/bindings.pyx
Due: none

chore: update changelog
  changelog.md
Due: none

chore: bump version to 0.6.0
  edspdf/__init__.py
  pyproject.toml
Due: Running Pytest, Installation

fix: missing poetry installation in gitlab ci
  .gitlab-ci.yml
Due: Running Pytest

fix: gitlab ci token interpolation
  .gitlab-ci.yml
Due: Running Pytest

perf: disable gradient during inference
  edspdf/component.py
Due: Running Pytest, Installation

fix: move box features to device
  edspdf/layers/box_preprocessor.py
Due: none

chore: bump version to 0.6.1
  changelog.md
  edspdf/__init__.py
  pyproject.toml
Due: Running Pytest, Installation

fix: cast bytes-like extractor inputs as bytes
  edspdf/components/extractors/pdfminer.py
Due: none

chore: bump version to 0.6.2
  changelog.md
  edspdf/__init__.py
  pyproject.toml
Due: Running Pytest, Installation

chore: update github badges
  README.md
Due: none

fix: load model from config
  edspdf/config.py
  edspdf/pipeline.py
Due: Running Pytest, Installation

fix pipeline for scanned documents with no box
  edspdf/components/aggregators/styled.py
  edspdf/layers/box_preprocessor.py
Due: none

fix: forward now returns a different object without input tensors due to multiproc gpu issues
  edspdf/components/classifiers/deep_classifier.py
Due: none

feat: catch extraction errors for corrupted pdfs
  edspdf/components/extractors/pdfminer.py
  edspdf/models/doc.py
  tests/components/extractors/test_pdfminer.py
  tests/conftest.py
  tests/core/test_pipeline.py
  tests/recipes/test_train.py
  tests/resources/error.pdf
Due: Running Pytest

chore: bump version to 0.6.3
  changelog.md
  edspdf/__init__.py
  pyproject.toml
Due: Running Pytest, Installation

feat: small api refacto, allow cfg reversing
  edspdf/component.py
  edspdf/config.py
  edspdf/pipeline.py
  edspdf/registry.py
Due: Running Pytest, Installation

feat: clean & update architectures
  edspdf/components/classifiers/deep_classifier.py
  edspdf/layers/__init__.py
  edspdf/layers/box_embedding.py
  edspdf/layers/box_layout_embedding.py
  edspdf/layers/box_layout_preprocessor.py
  edspdf/layers/box_text_embedding.py
  edspdf/layers/box_transformer.py
  edspdf/layers/cnn_encoder.py
  edspdf/layers/cnn_pooler.py
  edspdf/layers/relative_attention.py
  edspdf/layers/sinusoidal_embedding.py
  edspdf/layers/text_box_embedding.py
  edspdf/layers/vocabulary.py
  edspdf/models/text_box.py
Due: none

fix: box alignement pollution default
  edspdf/utils/alignment.py
Due: none

feat: update utils
  edspdf/utils/collections.py
  edspdf/utils/functional.py
  edspdf/utils/torch.py
Due: none

feat: move optimization utils
  edspdf/utils/optimization.py
Due: none

feat: update training recipe
  docs/recipes/training.md
  edspdf/recipes/train.py
  tests/recipes/config.cfg
  tests/recipes/test_train.py
Due: none

test: update tests
  tests/components/classifiers/test_dummy.py
  tests/components/classifiers/test_mask.py
  tests/components/classifiers/test_random.py
  tests/core/test_config.py
  tests/core/test_pipeline.py
  tests/visualization/test_merge.py
Due: none

docs: update docs
  .gitignore
  README.md
  docs/alternatives.md
  docs/components/aggregators/index.md
  docs/components/classifiers/deep-classifier.md
  docs/components/classifiers/index.md
  docs/components/classifiers/mask.md
  docs/components/extractors/index.md
  docs/components/extractors/mupdf.md
  docs/components/extractors/pdfminer.md
  docs/components/extractors/poppler.md
  docs/components/index.md
  docs/concepts/configuration.md
  docs/concepts/index.md
  docs/concepts/pipeline.md
  docs/concepts/trainable-components.md
  docs/index.md
  docs/layers/index.md
  docs/pipeline.md
  docs/recipes/annotation.md
  docs/recipes/extension.md
  docs/recipes/index.md
  docs/recipes/resources/deep-learning-architecture.svg
  docs/recipes/resources/lines.jpeg
  docs/recipes/resources/merged.jpeg
  docs/recipes/rule-based.md
  docs/utilities/visualisation.md
  mkdocs.yml
  roadmap.md
Due: Test documentation

Path conditions:
  Running Pytest: any of: tests/**, edspdf/**, .gitlab-ci.yml
  Installation: any of: pyproject.toml, edspdf/**
  Test documentation: any of: docs/**, mkdocs.yml
