Repository aphp/edspdf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Test documentation

Running Pytest:
  stage: test
  cache:
  - key:
      files:
      - poetry.lock
    paths:
    - .venv
  before_script:
  - apt-get update
  - apt-get install -y --no-install-recommends poppler-utils
  - pip install poetry
  - poetry config virtualenvs.in-project true
  - poetry install
  script:
  ...

Installation:
  stage: test
  script:
  - pip install .

Test documentation:
  stage: test
  cache:
  - key:
      files:
      - poetry.lock
    paths:
    - .venv
  before_script:
  - pip install poetry
  - poetry config virtualenvs.in-project true
  - poetry install
  script:
  - poetry run mkdocs build --site-dir documentation
  artifacts:
    paths:
    - documentation

ci: add cache for Poetry
  .github/workflows/tests.yml
Due: none

perf: add caching for Poetry in documentation
  .github/workflows/documentation.yml
Due: none

ci: add github actions
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/pull_request_template.md
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  demo/app.py
Due: none

perf: update cache location in documentation
  .github/workflows/documentation.yml
Due: none

fix: sudo apt in CI
  .github/workflows/tests.yml
Due: none

perf: update cache
  .github/workflows/tests.yml
Due: none

fix: release documentation
  .github/workflows/release.yml
Due: none

Set default version to latest with mike 1.1.2
  index.html
Due: none

fix: docs
  CITATION.cff
  README.md
  contributing.md
  docs/index.md
  docs/recipes/rules.md
  mkdocs.yml
  pyproject.toml
Due: Installation, Test documentation

fix: linting
  README.md
Due: none

fix: pdf2image ?
  demo/app.py
Due: none

fix: add streamlit as a package dep
  demo/packages.txt
Due: none

build: use pypdfium in place of pdf2image
  demo/app.py
  edspdf/visualization/annotations.py
  poetry.lock
  pyproject.toml
Due: Installation

build: use the pypdfium branch
  demo/packages.txt
  demo/requirements.txt
Due: none

chore: update changelog
  changelog.md
Due: none

docs: add mike plugin
  mkdocs.yml
Due: Test documentation

style: change annotation scale, for a larger image
  edspdf/visualization/annotations.py
Due: none

New PDF rendering library (#3)
  changelog.md
  demo/requirements.txt
  edspdf/visualization/annotations.py
  poetry.lock
  pyproject.toml
Due: Installation

feat: add demo
  demo/index.html
Due: none

fix: demo requirements
  demo/requirements.txt
Due: none

fix: remove broken PDF display in demo
  demo/app.py
Due: none

docs: add demo
  docs/recipes/extension.md
  docs/recipes/sklearn.md
  mkdocs.yml
Due: Test documentation

Path conditions:
  Running Pytest: any of: tests/**, edspdf/**, .gitlab-ci.yml
  Installation: any of: pyproject.toml, edspdf/**
  Test documentation: any of: docs/**, mkdocs.yml
