Repository aphp/edspdf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Test documentation

.gitlab-ci.yml:

image: harbor.eds.aphp.fr/public/python:3.8-slim

stages:
  - test
  - pages
  - package

Linting:
  stage: test
  cache:
    - key:
        files:
          - .pre-commit-config.yaml
      paths:
        - ~/.pre-commit
  before_script:
    - apt-get update
    - apt-get install -y --no-install-recommends git
    - pip install pre-commit
  script:
    - pre-commit run --all-files
  only:
    refs:
      - master
      - merge_request

Running Pytest:
  stage: test
  cache:
    - key:
        files:
          - poetry.lock
      paths:
        - .venv
  before_script:
    - apt-get update
    - apt-get install -y --no-install-recommends poppler-utils
    - pip install poetry
    - poetry config virtualenvs.in-project true
    - poetry install
  script:
    - poetry run pytest tests --cov edspdf --junitxml=report.xml
  after_script:
    - poetry run coverage xml -o coverage.xml
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    paths:
      - coverage.xml
      - report.xml
    reports:
      junit: report.xml
      cobertura: coverage.xml
  only:
    refs:
      - master
      - merge_request
    changes:
      - tests/**
      - edspdf/**
      - .gitlab-ci.yml

Installation:
  stage: test
  script:
    - pip install .
  only:
    refs:
      - master
      - merge_request
    changes:
      - pyproject.toml
      - edspdf/**

Test documentation:
  stage: test
  cache:
    - key:
        files:
          - poetry.lock
      paths:
        - .venv
  before_script:
    - pip install poetry
    - poetry config virtualenvs.in-project true
    - poetry install
  script:
    - poetry run mkdocs build --site-dir documentation
  artifacts:
    paths:
      - documentation
  only:
    refs:
      - merge_request
    changes:
      - docs/**
      - mkdocs.yml

pages:
  stage: pages
  cache:
    - key:
        files:
          - poetry.lock
      paths:
        - .venv
  before_script:
    - pip install poetry
    - poetry config virtualenvs.in-project true
    - poetry install
  script:
    - poetry run mkdocs build --site-dir public
  artifacts:
    paths:
      - public
  only:
    - master

Package:
  stage: package
  before_script:
    - pip install poetry
    - poetry config repositories.gitlab ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi
    - poetry config http-basic.gitlab gitlab-ci-token ${CI_JOB_TOKEN}
  script:
    - poetry publish --build -r gitlab
  only:
    - tags

style: add aphp admonition
  docs/assets/stylesheets/extra.css
Due: none

docs: clean
  docs/alternatives.md
Due: Test documentation

style: blue docs
  docs/assets/stylesheets/extra.css
Due: none

docs: update documentation
  CITATION.cff
  docs/alternatives.md
  docs/references.bib
  docs/user-guide/aggregation.md
  docs/user-guide/classification/mask.md
  docs/user-guide/classification/sklearn.md
  docs/user-guide/extraction.md
  docs/user-guide/transforms.md
  docs/user-guide/utilities.md
  edspdf/extraction/pdfminer.py
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: Installation, Test documentation

docs: add utilies
  docs/index.md
  docs/user-guide/index.md
  docs/user-guide/utilities.md
  docs/utilities/resources/lines.jpeg
  docs/utilities/resources/merged.jpeg
  docs/utilities/visualisation.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  roadmap.md
Due: Installation, Test documentation

feat: add loading methods, change registry
  edspdf/__init__.py
  edspdf/extraction/pdfminer.py
  edspdf/loading.py
  edspdf/reading/reader.py
  edspdf/visualization/annotations.py
  tests/reader/test_reader.py
  tests/test_conf.py
  tests/test_loading.py
Due: Running Pytest, Installation

docs: misc modifications
  README.md
  demo/app.py
  docs/index.md
  docs/utilities/alignment.md
  docs/utilities/index.md
  docs/utilities/visualisation.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  roadmap.md
Due: Installation, Test documentation

style: pre-commit
  docs/user-guide/extraction.md
  edspdf/__init__.py
  edspdf/loading.py
  tests/test_loading.py
Due: Running Pytest, Installation

fix: make sure registry is imported first
  edspdf/__init__.py
Due: Running Pytest, Installation

fix: box to line alignment
  edspdf/classification/align.py
  tests/classification/test_mask.py
Due: none

tests: add multipage alignment test
  tests/classification/conftest.py
  tests/classification/test_align.py
Due: none

chore: freeze and align black dependencies
  .pre-commit-config.yaml
  pyproject.toml
Due: Installation

chore: update changelog
  changelog.md
Due: none

chore: bump v0.4.3
  changelog.md
  edspdf/__init__.py
  pyproject.toml
Due: Running Pytest, Installation

docs: update the rationale
  CITATION.cff
  docs/rationale.md
  edspdf/__init__.py
  edspdf/aggregation/styled.py
  pyproject.toml
Due: Running Pytest, Installation, Test documentation

docs: add extension recipe
  docs/recipes/extension.md
  mkdocs.yml
Due: Test documentation

docs: update extensions
  docs/recipes/extension.md
Due: none

docs: add rationale
  contributing.md
  docs/modules/aggregation.md
  docs/modules/classification/index.md
  docs/modules/classification/mask.md
  docs/modules/classification/sklearn.md
  docs/modules/extraction.md
  docs/modules/index.md
  docs/modules/transforms.md
  docs/rationale.md
  docs/user-guide/index.md
  mkdocs.yml
Due: Test documentation

revert: PdfReader signature
  edspdf/reading/reader.py
Due: none

docs: add rule-based recipe
  docs/index.md
  docs/modules/index.md
  docs/rationale.md
  docs/recipes/index.md
  docs/recipes/resources/lines.jpeg
  docs/recipes/resources/merged.jpeg
  docs/recipes/rules.md
  docs/recipes/sklearn.md
  mkdocs.yml
Due: Test documentation

docs: add annotation recipe
  docs/recipes/annotation.md
  docs/recipes/extension.md
  docs/recipes/sklearn.md
  mkdocs.yml
Due: Test documentation

fix: docs
  changelog.md
  docs/recipes/annotation.md
  docs/recipes/sklearn.md
  roadmap.md
Due: none

docs: remove typos, add images
  docs/modules/classification/index.md
  docs/recipes/annotation.md
  docs/recipes/sklearn.md
  docs/utilities/alignment.md
  docs/utilities/resources/aligned-merged.jpeg
  docs/utilities/resources/aligned.jpeg
  docs/utilities/resources/blocs.jpeg
  docs/utilities/resources/blocs.png
Due: none

docs: rename rationale to key concepts
  docs/concepts.md
  mkdocs.yml
Due: Test documentation

docs: update roadmap
  roadmap.md
Due: none

refactor: major refactoring
  CITATION.cff
  changelog.md
  demo/app.py
  edspdf/__init__.py
  edspdf/aggregators/__init__.py
  edspdf/aggregators/base.py
  edspdf/aggregators/functional.py
  edspdf/aggregators/simple.py
  edspdf/aggregators/styled.py
  edspdf/classifiers/__init__.py
  edspdf/classifiers/align.py
  edspdf/classifiers/base.py
  edspdf/classifiers/dummy.py
  edspdf/classifiers/mask.py
  edspdf/classifiers/random.py
  edspdf/classifiers/sklearn.py
  edspdf/extractors/__init__.py
  edspdf/extractors/base.py
  edspdf/extractors/functional.py
  edspdf/extractors/models.py
  edspdf/extractors/pdfminer.py
  edspdf/extractors/style/__init__.py
  edspdf/extractors/style/models.py
  edspdf/extractors/style/style.py
  edspdf/loading.py
  edspdf/misc/package.py
  edspdf/readers/__init__.py
  edspdf/readers/reader.py
  pyproject.toml
  tests/aggregation/test_simple.py
  tests/aggregation/test_styled.py
  tests/classification/test_align.py
  tests/classification/test_mask.py
  tests/conftest.py
  tests/extraction/test_functional.py
  tests/extraction/test_style.py
  tests/test_conf.py
  tests/visualization/test_annotations.py
  tests/visualization/test_merge.py
Due: Running Pytest, Installation

ci: add github actions
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/pull_request_template.md
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  demo/app.py
Due: none

ci: add Poppler to path
  .github/workflows/tests.yml
Due: none

fix: sudo apt in CI
  .github/workflows/tests.yml
Due: none

ci: add cache for Poetry
  .github/workflows/tests.yml
Due: none

perf: add caching for Poetry in documentation
  .github/workflows/documentation.yml
Due: none

ci: remove Gitlab configuration
  .gitlab-ci.yml
Due: Running Pytest

build: update poetry.lock
  poetry.lock
Due: none

perf: update cache
  .github/workflows/tests.yml
Due: none

fix: add requirements.txt for demo
  demo/requirements.txt
Due: none

perf: update cache location in documentation
  .github/workflows/documentation.yml
Due: none
