Repository aphp/edspdf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Build documentation

.gitlab-ci.yml:

image: harbor.eds.aphp.fr/public/python:3.8-slim

stages:
  - test
  - documentation
  - pages
  - package
  - deploy

Linting:
  stage: test
  cache:
    - key:
        files:
          - .pre-commit-config.yaml
      paths:
        - ~/.pre-commit
  before_script:
    - apt-get update
    - apt-get install -y --no-install-recommends git
    - pip install pre-commit
  script:
    - pre-commit run --all-files

Running Pytest:
  stage: test
  cache:
    - key:
        files:
          - poetry.lock
      paths:
        - .venv
  before_script:
    - apt-get update
    - apt-get install -y --no-install-recommends poppler-utils
    - pip install poetry
    - poetry config virtualenvs.in-project true
    - poetry install
  script:
    - poetry run pytest tests --cov edspdf --junitxml=report.xml
  after_script:
    - poetry run coverage xml -o coverage.xml
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    paths:
      - coverage.xml
      - report.xml
    reports:
      junit: report.xml
      cobertura: coverage.xml
  rules:
    - changes:
        - tests/**
        - edspdf/**
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Installation:
  stage: test
  script:
    - pip install .
  rules:
    - changes:
        - pyproject.toml
        - edspdf/**
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Build documentation:
  stage: documentation
  cache:
    - key:
        files:
          - poetry.lock
      paths:
        - .venv
  before_script:
    - pip install poetry
    - poetry config virtualenvs.in-project true
    - poetry install
  script:
    - poetry run mkdocs build --site-dir documentation
  artifacts:
    paths:
      - documentation
  rules:
    - changes:
        - docs/**
        - mkdocs.yml
        - .gitlab-ci.yml
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

pages:
  stage: pages
  script:
    - mv documentation public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

Package:
  stage: package
  before_script:
    - pip install poetry
    - poetry config repositories.gitlab ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi
    - poetry config http-basic.gitlab gitlab-ci-token ${CI_JOB_TOKEN}
  script:
    - poetry publish --build -r gitlab
  only:
    - tags

ci: replace rules with only
  .gitlab-ci.yml
Due: Running Pytest, Build documentation

feat: increase robustness to empty PDFs
  edspdf/extraction/pdfminer.py
  tests/conftest.py
  tests/reader/test_reader.py
Due: Running Pytest

fix: modify CI
  .gitlab-ci.yml
Due: Running Pytest, Build documentation

tests: commit blank pdf
  tests/resources/blank.pdf
Due: none

chore: bump version to 0.2.1
  changelog.md
  pyproject.toml
Due: Installation

feat: remove outdated registry entry
  edspdf/reg.py
Due: Running Pytest, Installation

chore: update changelog
  changelog.md
Due: none

fix: bug in merge_lines for empty lines
  edspdf/visualization/merge.py
  tests/visualization/test_merge.py
Due: none

feat: update app to handle empty cases
  demo/app.py
Due: none

chore: bump version to 0.2.2
  changelog.md
  pyproject.toml
Due: Installation

fix: always run test
  .gitlab-ci.yml
Due: Running Pytest, Build documentation

feat: add new logo
  docs/assets/logo/edspdf-blue.svg
  docs/assets/logo/edspdf-white.svg
  mkdocs.yml
Due: Build documentation

fix: update CI to match Gitlab version
  .gitlab-ci.yml
Due: Running Pytest, Build documentation

feat: add new style extraction mechanism
  edspdf/extraction/functional.py
  edspdf/extraction/style/models.py
  edspdf/extraction/style/style.py
  tests/resources/letter.pdf
  tests/resources/styles.pdf
Due: none

feat: handle style in the extractor directly
  edspdf/extraction/functional.py
  edspdf/extraction/models.py
  edspdf/extraction/pdfminer.py
  edspdf/extraction/style/__init__.py
  edspdf/extraction/style/models.py
  edspdf/extraction/style/style.py
  tests/extraction/test_style.py
  tests/reader/test_reader.py
  tests/test_conf.py
Due: Running Pytest

feat: add a styled aggregator
  edspdf/aggregation/factory.py
  edspdf/aggregation/functional.py
  edspdf/aggregation/simple.py
  edspdf/aggregation/styled.py
Due: none

feat: add styled aggregator
  edspdf/aggregation/__init__.py
  edspdf/aggregation/functional.py
  edspdf/aggregation/simple.py
  edspdf/aggregation/styled.py
  edspdf/extraction/__init__.py
  edspdf/extraction/functional.py
  edspdf/extraction/pdfminer.py
  edspdf/extraction/style/models.py
  tests/aggregation/test_styled.py
  tests/classification/test_mask.py
  tests/conftest.py
  tests/extraction/test_functional.py
  tests/extraction/test_style.py
Due: Running Pytest

refactor: remove factory submodules
  edspdf/__init__.py
  edspdf/aggregation/factory.py
  edspdf/classification/__init__.py
  edspdf/classification/factory.py
  edspdf/extraction/factory.py
  edspdf/reading/factory.py
  edspdf/transforms/__init__.py
  edspdf/transforms/factory.py
Due: Running Pytest, Installation

feat: update demo
  changelog.md
  demo/app.py
Due: none

fix: issue with the style aggregation
  edspdf/aggregation/styled.py
  tests/aggregation/test_styled.py
Due: none

feat: add a rescale transform
  edspdf/transforms/transforms.py
  tests/reader/test_reader.py
  tests/test_conf.py
Due: Running Pytest

chore: bump version to 0.3.0
  changelog.md
  pyproject.toml
Due: Installation

fix: keep origin on top-left corner with rescale
  edspdf/transforms/transforms.py
Due: none

chore: update version
  changelog.md
  pyproject.toml
  roadmap.md
Due: Installation

feat: update visualisation
  edspdf/reading/reader.py
  edspdf/visualization/__init__.py
  edspdf/visualization/annotations.py
Due: none

chore: bump version
  changelog.md
  pyproject.toml
Due: Installation

test: reach 100% coverage
  edspdf/reading/reader.py
  tests/visualization/test_annotations.py
Due: none

feat: enable package-bound classifier pipeline
  edspdf/classification/sklearn.py
Due: none

fix: correct resource argument name
  edspdf/classification/sklearn.py
Due: none

fix: package resource handling
  edspdf/classification/sklearn.py
Due: none

build: add python 3.7 support
  poetry.lock
  pyproject.toml
Due: Installation

chore: bump version to 3.7
  changelog.md
  pyproject.toml
Due: Installation

fix: remove importlib dependency
  edspdf/__init__.py
  pyproject.toml
  tests/test_version.py
Due: Running Pytest, Installation

fix: changelog indentation
  changelog.md
Due: none

feat: add misc package resource
  edspdf/__init__.py
  edspdf/classification/sklearn.py
  edspdf/misc/__init__.py
  edspdf/misc/package.py
  edspdf/reg.py
Due: Running Pytest, Installation

test: package resource
  tests/misc/test_package_resources.py
Due: none

chore: bump version
  changelog.md
  edspdf/__init__.py
  pyproject.toml
Due: Running Pytest, Installation

feat: add existence test for package resource
  edspdf/misc/package.py
  tests/misc/test_package_resources.py
Due: none

chore: add acknowledgement
  README.md
Due: none
