Repository aphp/edspdf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Test documentation

.gitlab-ci.yml:

image: harbor.eds.aphp.fr/public/python:3.8-slim

stages:
  - test
  - pages
  - package

Linting:
  stage: test
  cache:
    - key:
        files:
          - .pre-commit-config.yaml
      paths:
        - ~/.pre-commit
  before_script:
    - apt-get update
    - apt-get install -y --no-install-recommends git
    - pip install pre-commit
  script:
    - pre-commit run --all-files
  only:
    refs:
      - master
      - merge_request

Running Pytest:
  stage: test
  cache:
    - key:
        files:
          - poetry.lock
      paths:
        - .venv
  before_script:
    - apt-get update
    - apt-get install -y --no-install-recommends poppler-utils
    - pip install poetry
    - poetry config virtualenvs.in-project true
    - poetry install
  script:
    - poetry run pytest tests --cov edspdf --junitxml=report.xml
  after_script:
    - poetry run coverage xml -o coverage.xml
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    paths:
      - coverage.xml
      - report.xml
    reports:
      junit: report.xml
      cobertura: coverage.xml
  only:
    refs:
      - master
      - merge_request
    changes:
      - tests/**
      - edspdf/**
      - .gitlab-ci.yml

Installation:
  stage: test
  script:
    - pip install .
  only:
    refs:
      - master
      - merge_request
    changes:
      - pyproject.toml
      - edspdf/**

Test documentation:
  stage: test
  cache:
    - key:
        files:
          - poetry.lock
      paths:
        - .venv
  before_script:
    - pip install poetry
    - poetry config virtualenvs.in-project true
    - poetry install
  script:
    - poetry run mkdocs build --site-dir documentation
  artifacts:
    paths:
      - documentation
  only:
    refs:
      - merge_request
    changes:
      - docs/**
      - mkdocs.yml

pages:
  stage: pages
  cache:
    - key:
        files:
          - poetry.lock
      paths:
        - .venv
  before_script:
    - pip install poetry
    - poetry config virtualenvs.in-project true
    - poetry install
  script:
    - poetry run mkdocs build --site-dir public
  artifacts:
    paths:
      - public
  only:
    - master

Package:
  stage: package
  before_script:
    - pip install poetry
    - poetry config repositories.gitlab ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi
    - poetry config http-basic.gitlab gitlab-ci-token ${CI_JOB_TOKEN}
  script:
    - poetry publish --build -r gitlab
  only:
    - tags

docs: add demo
  docs/recipes/extension.md
  docs/recipes/sklearn.md
  mkdocs.yml
Due: Test documentation

chore: bump version
  changelog.md
  edspdf/__init__.py
  pyproject.toml
Due: Running Pytest, Installation

fix: mike version for docs
  mkdocs.yml
Due: Test documentation

feat: add gitignore
  .gitignore
Due: none

chore: update citation with doi
  README.md
  docs/index.md
Due: Test documentation

Deployed 52bc1c0 to v0.5.1 with MkDocs 1.3.0 and mike 1.1.2
  latest/index.html
  latest/search/search_index.json
  latest/sitemap.xml.gz
  v0.5.1/index.html
  v0.5.1/search/search_index.json
  v0.5.1/sitemap.xml.gz
Due: none

chore: add site (mkdocs output) to gitignore
  .gitignore
Due: none

chore: update citation
  README.md
  docs/index.md
Due: Test documentation

Deployed ebce861 to v0.5.1 with MkDocs 1.3.0 and mike 1.1.2
  latest/index.html
  latest/sitemap.xml.gz
  v0.5.1/index.html
  v0.5.1/sitemap.xml.gz
Due: none

chore: update pr template
  .github/pull_request_template.md
Due: none

ci: remove unnecessary poppler dependency
  .github/workflows/tests.yml
Due: none

fix: demo URL
  demo/index.html
Due: none

fix: demo url
  mkdocs.yml
Due: Test documentation
