Repository aphp/edspdf: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Running Pytest, Installation, Test documentation

.gitlab-ci.yml:

image: harbor.eds.aphp.fr/public/python:3.8-slim

stages:
  - test
  - pages
  - package

Linting:
  stage: test
  cache:
    - key:
        files:
          - .pre-commit-config.yaml
      paths:
        - ~/.pre-commit
  before_script:
    - apt-get update
    - apt-get install -y --no-install-recommends git
    - pip install pre-commit
  script:
    - pre-commit run --all-files
  only:
    refs:
      - master
      - merge_request

Running Pytest:
  stage: test
  cache:
    - key:
        files:
          - poetry.lock
      paths:
        - .venv
  before_script:
    - apt-get update
    - apt-get install -y --no-install-recommends poppler-utils
    - pip install poetry
    - poetry config virtualenvs.in-project true
    - poetry install
  script:
    - poetry run pytest tests --cov edspdf --junitxml=report.xml
  after_script:
    - poetry run coverage xml -o coverage.xml
  coverage: "/TOTAL.+ ([0-9]{1,3}%)/"
  artifacts:
    when: always
    paths:
      - coverage.xml
      - report.xml
    reports:
      junit: report.xml
      cobertura: coverage.xml
  only:
    refs:
      - master
      - merge_request
    changes:
      - tests/**
      - edspdf/**
      - .gitlab-ci.yml

Installation:
  stage: test
  script:
    - pip install .
  only:
    refs:
      - master
      - merge_request
    changes:
      - pyproject.toml
      - edspdf/**

Test documentation:
  stage: test
  cache:
    - key:
        files:
          - poetry.lock
      paths:
        - .venv
  before_script:
    - pip install poetry
    - poetry config virtualenvs.in-project true
    - poetry install
  script:
    - poetry run mkdocs build --site-dir documentation
  artifacts:
    paths:
      - documentation
  only:
    refs:
      - merge_request
    changes:
      - docs/**
      - mkdocs.yml

pages:
  stage: pages
  cache:
    - key:
        files:
          - poetry.lock
      paths:
        - .venv
  before_script:
    - pip install poetry
    - poetry config virtualenvs.in-project true
    - poetry install
  script:
    - poetry run mkdocs build --site-dir public
  artifacts:
    paths:
      - public
  only:
    - master

Package:
  stage: package
  before_script:
    - pip install poetry
    - poetry config repositories.gitlab ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi
    - poetry config http-basic.gitlab gitlab-ci-token ${CI_JOB_TOKEN}
  script:
    - poetry publish --build -r gitlab
  only:
    - tags

fix: typo
  contributing.md
Due: none

fix: aggregation for empty docs
  edspdf/aggregators/simple.py
  edspdf/aggregators/styled.py
Due: none

tests: aggregation for empty docs
  tests/aggregation/test_simple.py
  tests/aggregation/test_styled.py
Due: none

chore: update changelog
  changelog.md
Due: none

chore: bump version to 0.5.2
  changelog.md
  edspdf/__init__.py
Due: Running Pytest, Installation

chore: bump version to 0.5.2
  changelog.md
  edspdf/__init__.py
  pyproject.toml
Due: Running Pytest, Installation

Deployed 655efc4 to v0.5.2 with MkDocs 1.3.0 and mike 1.1.2
  latest/sitemap.xml.gz
  v0.5.2/sitemap.xml.gz
Due: none

feat: add label mapping parameter to aggregators
  edspdf/aggregators/functional.py
  edspdf/aggregators/simple.py
  edspdf/aggregators/styled.py
Due: none

tests: add end to end text extraction test
  tests/conftest.py
  tests/reader/test_reader.py
Due: Running Pytest

tests: fix version test
  tests/test_version.py
Due: Running Pytest

chore: linting
  edspdf/aggregators/functional.py
  edspdf/aggregators/simple.py
  edspdf/aggregators/styled.py
  tests/reader/test_reader.py
  tests/test_version.py
Due: Running Pytest

chore: bump version to 0.5.3
  changelog.md
  edspdf/__init__.py
  pyproject.toml
Due: Running Pytest, Installation

refacto: changed file structure
  edspdf/pipeline/aggregators/__init__.py
  edspdf/pipeline/aggregators/base.py
  edspdf/pipeline/aggregators/functional.py
  edspdf/pipeline/aggregators/simple.py
  edspdf/pipeline/aggregators/styled.py
  edspdf/pipeline/classifiers/__init__.py
  edspdf/pipeline/classifiers/align.py
  edspdf/pipeline/classifiers/base.py
  edspdf/pipeline/classifiers/dummy.py
  edspdf/pipeline/classifiers/mask.py
  edspdf/pipeline/classifiers/random.py
  edspdf/pipeline/classifiers/sklearn.py
  edspdf/pipeline/extractors/__init__.py
  edspdf/pipeline/extractors/base.py
  edspdf/pipeline/extractors/functional.py
  edspdf/pipeline/extractors/models.py
  edspdf/pipeline/extractors/pdfminer.py
  edspdf/pipeline/extractors/style/__init__.py
  edspdf/pipeline/extractors/style/models.py
  edspdf/pipeline/extractors/style/style.py
  tests/misc/test_package_resources.py
  tests/pipeline/aggregation/test_simple.py
  tests/pipeline/aggregation/test_styled.py
  tests/pipeline/classification/conftest.py
  tests/pipeline/classification/test_align.py
  tests/pipeline/classification/test_dummy.py
  tests/pipeline/classification/test_mask.py
  tests/pipeline/classification/test_random.py
  tests/pipeline/classification/test_sklearn.py
  tests/pipeline/extraction/test_functional.py
  tests/pipeline/extraction/test_style.py
  tests/reader/test_reader.py
Due: none

refacto: core files
  docs/pipeline.md
  edspdf/__init__.py
  edspdf/cli.py
  edspdf/component.py
  edspdf/config.py
  edspdf/loading.py
  edspdf/model.py
  edspdf/optimization.py
  edspdf/pipeline.py
  edspdf/readers/__init__.py
  edspdf/readers/reader.py
  edspdf/reg.py
  edspdf/registry.py
  tests/test_conf.py
  tests/test_loading.py
Due: Running Pytest, Installation, Test documentation
